<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Star Wars Quotes</h1>

    <p>
    Star Wars Quotes was built by <a target="_blank" href="http://cpiersonttcc.github.io/Firehose/">Chris</a>, one guy with a love for lightsabers, droids, and sci-fi on a quest to compile the best Star Wars quotes.
  </p>
  <br />
  <p>
    Chris has a house filled with Star Wars cat toys and a cat named CP3PO. He's excitedly looking for a dog that he hopes to name Chewy.

  </p>
  <br />

  <div class="col-xs-12 col-sm-7">
    <%= image_tag 'chris.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-4 col-sm-offset-1">
    <h2 class="text-center">Chris Pierson</h2>
    <br />
    <p>
      Chris Pierson is a seasoned healthcare IT product manager. He has worked for startups in various stages of funding such as athenahealth, RedTail Solutions, CareCloud, and The Trusted Cloud. He also has a competitive side. Chris is a former bowler in the <a target="_blank" href="http://http://www.bowl.com/juniorgold/">Junior Olympics</a>. His more recent interests are focused on triathlon, building bicycles, and having existential conversations with his cat, CP3PO.
    </p>
  </div>



</div>

<br class="clear" />
<br />
<br />
<br />
<br />